
@font-face {
    font-family: "Roboto";
    src: url(Montserrat-ExtraLight.ttf);
}
@font-face {
    font-family: "Robotob";
    src: url(Montserrat-BoldItalic.ttf);
}

body {
    font-family: "Roboto";
    font-weight: 200;
    background: #444444;
    color: #E5E5E5;

}
#div {
    font-family: "Roboto";   
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#main {
    font-family: 'Roboto';
    width: 100%;
    padding: 20px;
    text-align: center;
    margin-top: 250px;
}

h1 {
    font-family: 'Roboto';
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 40px;
}

img {
    width: 100px;
    margin: 60px auto;

}

p {
    width: 350px;
    margin: 0 auto;
    font-family: 'Roboto';
    font-size: 20px;
}

form {
    display: none;
    text-align: center;
    margin-top: 50px;
    font-family: 'Roboto';
    font-weight: 200;

}

form input {
    font-family: "Roboto";
    font-weight: 200;
    display: block;
    clear: both;
	margin-bottom: 20px;
	margin-left:37.5%;
	width: 420px;
	height: 30px;
    border: 1.5px solid;
    border-radius: 15px;
    border-color: #E3A3B4;
    background: #171717;
    color:#E5E5E5;
    text-align: center;
    align-items: center;
}

button {
    display: flex;
    justify-content: center;
    font-family: "Roboto";
    border: 1.5px solid;
    border-radius: 30px; 
    border-color: #E3A3B4;
    margin-top: 50px;
    height: 60px;
    width: 200px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    transition: all 500ms ease;
    background-color: #171717;
    padding: 5px 20px;
    color:#E5E5E5;
    align-items: center;
    position: relative;
}
button:hover {
    background: #171717;
}
input:focus {
    border-color: #E5E5E5;
}
