
@font-face {
    font-family: "Roboto";
    src: url(Montserrat-ExtraLight.ttf);
}
@font-face {
    font-family: "Robotob";
    src: url(Montserrat-BoldItalic.ttf);
}

body {
    font-family: "Roboto";
    font-weight: 200;
    color: var(--tg-theme-text-color);
    background: var(--tg-theme-bg-color);

}
#div {
    font-family: "Roboto";   
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#main {
    font-family: 'Roboto';
    width: 100%;
    padding: 20px;
    text-align: center;
}

h1 {
    font-family: 'Robotob';
    margin-top: 50px;
    margin-bottom: 10px;
}

img {
    width: 70px;
    margin: 30px auto;

}

p {
    width: 350px;
    margin: 0 auto;
    font-family: 'Roboto';
}

form {
    display: none;
    text-align: center;
    margin-top: 300px;
    font-family: 'Roboto';
    font-weight: 200;

}

form input {
    display: block;
    clear: both;
	padding: 10px;
	margin-bottom: 20px;
	margin-left:39%;
	width: 23%;
	height: 15px;
	border: var(--tg-theme-button-color);
    border: 5px;
}

button {
    font-family: "Roboto";
    border: 0;
    border-radius: 5px;
    margin-top: 50px;
    height: 60px;
    width: 200px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    transition: all 500ms ease;
    color: var(--tg-theme-button-color);
    background-color: var(--tg-theme-button-color);
}
button:hover {
    background: var(--tg-theme-secondary-bg-color);
}
input:focus {
    border-color: var(--tg-theme-button-color);
}
